<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout::header">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Add Contact</title>



</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="fragments/layout :: conpoment1">
    </ul>
    <!-- End of Sidebar -->


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="fragments/layout :: conpoment2"></nav>
            <div class="bg-contact3" style="background-image: url('images/bg-01.jpg');">
                <div class="container-contact3">
                    <div class="wrap-contact3">
                        <form class="contact3-form validate-form" th:action="@{/addNewService}" th:object="${service}"
                              method="post">
                                <span class="contact3-form-title">
                                Add new Service
                                </span>
                            <div class="wrap-input3 validate-input" data-validate="Down Payment is required">
                                <span class="input3">Name Service :</span>
                                <input class="input3" type="text" name="nameService" th:field="*{nameService}">
                                <span class="focus-input3"></span>
                            </div>

                            <div class="wrap-input3 validate-input" data-validate="Valid areas is required: xx">
                                <span class="input3">Areas :</span>
                                <input class="input3" type="text" pl=""  th:field="*{areas}" name="areas">
                                <span class="focus-input3"></span>
                            </div>

                            <div class="wrap-input3 validate-input" data-validate="Valid date is required: yyyy-mm-dd">
                                <span class="input3">Max amount of people :</span>
                                <input class="input3" type="text"  th:field="*{maxAmountPeople}" name="amount-people">
                                <span class="focus-input3"></span>
                            </div>

                            <div class="wrap-input3 validate-input" data-validate="Number of floor is required">
                                <span class="input3">Number of floor :</span>
                                <input class="input3" type="text" name="numOfFloor" th:field="*{numberOfFloor}">
                                <span class="focus-input3"></span>
                            </div>

                            <div class="wrap-input3 validate-input"
                                 data-validate="Price is not required">
                                <span class="input3">Price :</span>
                                <input class="input3" type="text" name="price" th:field="*{priceService}"
                                       >
                                <span class="focus-input3"></span>
                            </div>

                            <div class="wrap-input3 validate-input"
                                 data-validate="status is not required">
                                <span class="input3">Status :</span>
                                <input class="input3" type="text" name="status" th:field="*{status}">
                                <span class="focus-input3"></span>
                            </div>

                            <div class="wrap-input3 validate-input"
                                 data-validate="status is not required">
                                <span class="input3">Image :</span>
                                <input class="input3" type="text" name="img" th:field="*{urlImg}">
                                <span class="focus-input3"></span>
                            </div>


                            <div class="wrap-input3 validate-input"
                                 data-validate="type of rent is required">
                                <p class="input3">Type of rent :</p>
                                <select th:field="*{typeOfRent}">
                                    <option th:each="p : ${listRent}" th:value="${p.getIdTypeOfRent()}"
                                            th:text="${p.getNameTypeOfRent()}"></option>
                                </select>
                            </div>
                            <div class="wrap-input3 validate-input"
                                 data-validate="type of service is required">
                                <p class="input3">Type of service :</p>
                                <select th:field="*{typeOfService}">
                                    <option th:each="p : ${listTypeOfService}" th:value="${p.getIdTypeOfService()}"
                                            th:text="${p.getNameTypeOfService()}"></option>
                                </select>
                            </div>

                            <div class="container-contact3-form-btn">
                                <button class="contact3-form-btn">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>

        <!-- End of Main Content -->


        <!-- Footer -->
        <!--                <footer th:replace="fragments/layout :: sfooter">-->

        <!--                </footer>-->
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>

<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div th:replace="fragments/layout::logout">

</div>


<footer th:replace="fragments/layout::footer">
</footer>

</body>

</html>
