<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
<h1>EDIT BLOG</h1>
<p>
    <a th:href="@{/blog}">Back to Blog list</a>
</p>
<form th:action="@{/delete}" th:object="${blog}" method="post">
    <td><input type="hidden" th:field="*{id}"/></td>
    <table>
        <tr>
            <td>Blog Name</td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td>Author</td>
            <td><input type="text" th:field="*{author} " /></td>
        </tr>
        <tr>
            <td>Context</td>
            <td><textarea rows="4" cols="50" th:field="*{context}" disabled/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete"></td>
        </tr>
    </table>
</form>
<footer th:replace="layout :: footer"></footer>
</body>
</html>