<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
    <!-- Custom fonts for this template-->
    <link th:href="@{~/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link th:href="@{~/css/sb-admin-2.min.css}" rel="stylesheet">


    <!--    &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
    <link rel="icon" type="image/png" th:href="@{~/images/icons-anc/favicon.ico}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{~/vendor/bootstrap-anc/css/bootstrap.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{~/fonts/font-awesome-4.7.0-anc/css/font-awesome.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{~/vendor/animate-anc/animate.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{~/vendor/css-hamburgers-anc/hamburgers.min.css}">
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{~/css/util-anc.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/main-anc.css}">

    <!--===============================================================================================-->

    <link rel="stylesheet" th:href="@{~/css/table.css}">


    <script th:src="@{https://unpkg.com/jquery@3.4.1/dist/jquery.js}" type="text/javascript"></script>
    <link th:href="@{https://unpkg.com/jquery@3.4.1/dist/css.css}" rel="stylesheet" type="text/css">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <!-- End of Sidebar -->


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">


        <!-- Main Content -->
        <div id="content">

            <!-- Topbar lay qua -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
                 th:fragment="conpoment2">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <a th:href="@{addNewEmployee}" class="addNewProduct1">Add Employee</a>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                   aria-label="Search" name="search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">

                    </li>

                </ul>

            </nav>


        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white" th:fragment="sfooter">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Final Exam Second time</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>

<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" th:fragment="logout">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>


<footer th:fragment="footer">
    <!-- Bootstrap core JavaScript-->
    <script th:src="@{~/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{~/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{~/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{~/js/sb-admin-2.min.js}"></script>

    <!-- Page level plugins -->
    <script th:src="@{~/vendor/chart.js/Chart.min.js}"></script>


    <!--    note-->
    <!--===============================================================================================-->
    <script th:src="@{~/vendor/jquery-anc/jquery-3.2.1.min.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{~/vendor/bootstrap-anc/js/popper.js}"></script>
    <script th:src="@{vendor/bootstrap-anc/js/bootstrap.min.js}"></script>
    <!--===============================================================================================-->

    <script th:src="@{~/js/main-anc.js}"></script>

</footer>

</body>

</html>
