<div class="search">
  <app-search (data)="handleData($event)"></app-search>
</div>

<div id="content">
  <table id="tble">
    <thead>
    <tr>
      <th>STT</th>
      <th>Ma sv</th>
      <th>Ten sv</th>
      <th>Ten Nhom</th>
      <th>Ten de tai</th>
      <th>Gv huong dan</th>
      <th>Email</th>
      <th>SDT</th>
      <th colspan="3">Option</th>
    </tr>
    </thead>
    <tr *ngFor = "let employee of employees | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
      <td>{{i}}</td>
      <td>{{employee.id}}</td>
      <td>{{employee.name}}</td>
      <td>{{employee.group_name}}</td>
      <td>{{employee.name_project}}</td>
      <td>{{employee.instructor}}</td>
      <td>{{employee.email}}</td>
      <td>{{employee.phone}}</td>
      <td>
        <div class="row option">
          <div><button class="btn-success option1" [routerLink]="'/employee/'+ employee.id + '/edit'">Edit</button></div>
          <div><button class="badge-danger option1" (click)="deleteCustomer(employee.id,employee.name)">Delete</button></div>
        </div>
      </td>

    </tr>
  </table>
  <div>
    <a class="btn-success btn1" [routerLink]="['/add']">Them</a>
  </div>
  <div class="pagi">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>


  <div class="pagination">

  </div>

  <h1>{{data | json}}</h1>
</div>
