<div class="bg-contact3" style="background-image: url('assets/images/bg-01.jpg');">
  <div class="container-contact3">
    <div class="wrap-contact3">
      <form class="contact3-form validate-form" [formGroup]="form">
	      <span class="contact3-form-title">
					Add new Customer
					</span>

        <div class="form-group wrap-input3 validate-input" [ngClass]="displayFieldCss('name')">
          <input type="text" id="name" class="input3" formControlName="name" placeholder="name">
          <span class="focus-input3"></span>
          <app-field-error-display [displayError]="isFieldValid('name')" errorMsg="Please inform your name">
          </app-field-error-display>
        </div>

        <div class="form-group wrap-input3" [ngClass]="displayFieldCss('email')">
          <input type="text" id="email" class=" input3" formControlName="email" placeholder="email">
          <span class="focus-input3"></span>
          <app-field-error-display [displayError]="isFieldValid('email')" errorMsg="Please inform your email">
          </app-field-error-display>
        </div>

        <div class="form-group wrap-input3" [ngClass]="displayFieldCss('address')">
          <input type="text" id="address" class=" input3" formControlName="address" placeholder="address">
          <span class="focus-input3"></span>
          <app-field-error-display [displayError]="isFieldValid('address')" errorMsg="Please inform your address">
          </app-field-error-display>
        </div>

        <div class="wrap-input3 validate-input form-group" [ngClass]="displayFieldCss('birthday')">
          <div id="picker1">
            <input class="input3" [matDatepicker]="picker" type="text" formControlName="birthday"
                   placeholder="birthday" id="birthday">
            <span class="focus-input3"></span>
          </div>
          <div id="picker2">
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </div>
          <app-field-error-display [displayError]="isFieldValid('birthday')" errorMsg="Please inform your birthday">
          </app-field-error-display>
        </div>

        <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
        <button class="btn" (click)="reset()">Reset</button>

      </form>
    </div>
  </div>
</div>
