<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Site Metas -->
    <title>Furama Resort</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" th:href="@{images/favicon.ico}" type="image/x-icon"/>
    <link rel="apple-touch-icon" th:href="@{images/apple-touch-icon.png}"/>

    <!-- Design fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link th:href="@{~/css/bootstrap.css}" rel="stylesheet">
    <!-- FontAwesome Icons core CSS -->
    <link th:href="@{~/css/font-awesome.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{~/style.css}" rel="stylesheet">
    <!-- Animate styles for this template -->
    <link th:href="@{~/css/animate.css}" rel="stylesheet">
    <!-- Responsive styles for this template -->
    <link th:href="@{~/css/responsive.css}" rel="stylesheet">
    <!-- Colors for this template -->
    <link th:href="@{~/css/colors.css}" rel="stylesheet">
    <!-- Version Marketing CSS for this template -->
    <link th:href="@{~/css/version/marketing.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{~/css/category-service.css}">
    <link rel="stylesheet" th:href="@{~/css/table.css}">



</head>
<body id="grid">

<div id="wrapper">
    <header class="market-header header">
        <div class="container-fluid">
            <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}"><img th:src="@{images/version/logo_p.png}" alt=""></a>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/category}">Category</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="marketing-category.html">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="marketing-blog.html">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="marketing-contact.html">Contact Us</a>
                        </li>
                    </ul>
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="text" placeholder="How may I help?" name="searchCate">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div><!-- end container-fluid -->
    </header><!-- end market-header -->
    <div class="page-title db">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <h2> Furama <small class="hidden-xs-down hidden-sm-down">Welcome to Luxury.
                    </small></h2>
                </div><!-- end col -->
                <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Blog</a></li>
                    </ol>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end page-title -->
    <section class="section lb">

        <div id="menu-outer">
            <div class="tableL">

                <ul class="horizontal-list">
                    <li th:each="row : ${listServiceCate}" >
                        <div class="card">
                            <di class="post-media">
                                <a th:href=" @{/serviceDetail/{id}(id=${row.getIdService()})}">
                                <img th:src="${row.getUrlImg()}" alt="Villa" style="width:100%">
                                <div class="hovereffect">
                                    <span></span>
                                </div>
                                </a>
                            </di>
                            <h1 th:text="${row.getNameService()}"></h1>
                            <div class="vb">Price :<p th:text="${row.getPriceService()}"></p>$</div>
                            <div class="vb">Area :<p th:text="${row.getAreas()}"></p>m2</div>
                            <p> Welcome to Furama resort. Best wish for you !</p>
                            <p>
                                <form th:action="@{/user-create-contact/{id}(id=${row.getIdService()})}" method="get">
                            <button type="submit" >Book Now</button>
                                </form>

                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="pagination-cate">
            <a th:href="@{'/category'(page=${listServiceCate.number - 1},name=${nameService})}"
               th:if="${listServiceCate.hasPrevious()}">Previous</a>
            <span th:text="${listServiceCate.number + 1}"></span><span>/</span><span
                th:text="${listServiceCate.totalPages}"></span>
            <a th:href="@{'/category'(page=${listServiceCate.number + 1},name=${nameService})}"
               th:if="${listServiceCate.hasNext()}">Next</a>
        </div>


    </section>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="widget">
                        <h2 class="widget-title">Recent Posts</h2>
                        <div class="blog-list-widget">
                            <div class="list-group">
                                <a href="marketing-single.html"
                                   class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="w-100 justify-content-between">
                                        <img src="upload/vl1.jpg" alt="" class="img-fluid float-left">
                                        <h5 class="mb-1">5 Beautiful buildings you need to before dying</h5>
                                        <small>12 Jan, 2016</small>
                                    </div>
                                </a>

                                <a href="marketing-single.html"
                                   class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="w-100 justify-content-between">
                                        <img src="upload/vl3.jpg" alt="" class="img-fluid float-left">
                                        <h5 class="mb-1">Let's make an introduction for creative life</h5>
                                        <small>11 Jan, 2016</small>
                                    </div>
                                </a>

                                <a href="marketing-single.html"
                                   class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="w-100 last-item justify-content-between">
                                        <img src="upload/vl5.jpg" alt="" class="img-fluid float-left">
                                        <h5 class="mb-1">Did you see the most beautiful sea in the world?</h5>
                                        <small>07 Jan, 2016</small>
                                    </div>
                                </a>
                            </div>
                        </div><!-- end blog-list -->
                    </div><!-- end widget -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="widget">
                        <h2 class="widget-title">Popular Posts</h2>
                        <div class="blog-list-widget">
                            <div class="list-group">
                                <a href="marketing-single.html"
                                   class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="w-100 justify-content-between">
                                        <img src="upload/villa2.jpg" alt="" class="img-fluid float-left">
                                        <h5 class="mb-1">Banana-chip chocolate cake recipe with customs</h5>
                                        <span class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                                    </div>
                                </a>

                                <a href="marketing-single.html"
                                   class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="w-100 justify-content-between">
                                        <img src="upload/villa1.jpg" alt="" class="img-fluid float-left">
                                        <h5 class="mb-1">10 practical ways to choose organic vegetables</h5>
                                        <span class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                                    </div>
                                </a>

                                <a href="marketing-single.html"
                                   class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="w-100 last-item justify-content-between">
                                        <img src="upload/vl1.jpg" alt="" class="img-fluid float-left">
                                        <h5 class="mb-1">We are making homemade ravioli, nice and good</h5>
                                        <span class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                                    </div>
                                </a>
                            </div>
                        </div><!-- end blog-list -->
                    </div><!-- end widget -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="widget">
                        <h2 class="widget-title">Popular Categories</h2>
                        <div class="link-widget">
                            <ul>
                                <li><a href="#">Marketing <span>(21)</span></a></li>
                                <li><a href="#">SEO Service <span>(15)</span></a></li>
                                <li><a href="#">Digital Agency <span>(31)</span></a></li>
                                <li><a href="#">Make Money <span>(22)</span></a></li>
                                <li><a href="#">Blogging <span>(66)</span></a></li>
                                <li><a href="#">Entertaintment <span>(11)</span></a></li>
                                <li><a href="#">Video Tuts <span>(87)</span></a></li>
                            </ul>
                        </div><!-- end link-widget -->
                    </div><!-- end widget -->
                </div><!-- end col -->
            </div><!-- end row -->

            <div class="row">
                <div class="col-md-12 text-center">
                    <br>
                    <br>
                    <div class="copyright">&copy; Case Study 2 <a href="http://html.design">Furama Resort</a>.</div>
                </div>
            </div>
        </div><!-- end container -->
    </footer><!-- end footer -->

    <div class="dmtop">Scroll to Top</div>

</div><!-- end wrapper -->

<!-- Core JavaScript
================================================== -->
<script th:src="@{~/js/jquery.min.js}"></script>
<script th:src="@{~/js/tether.min.js}"></script>
<script th:src="@{~/js/bootstrap.min.js}"></script>
<script th:src="@{~/js/animate.js}"></script>
<script th:src="@{~/js/custom.js}"></script>

</body>
</html>